<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>1.Add New Agent</h1>
        <h1>2.Use created Agent account details to login into the Omni Mobile App</h1>
        <h1>3.Capture Customer Account Details</h1>
        <h1>4.Customer Enters Signature</h1>
        <h1>5.Agent uploads Demographic Info</h1>
        <h1>6.Agent Uploads Customer Signature, Proof of Residence and Copy of ID</h1>
        <h1>7.Send SMS to Customer with Account Number</h1>
     </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>