<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

        <h1>Quick Instructions</h1>
        <ol>
            <li>Add New Agent</li>
            <li>Use created Agent account details to login into the Omni Mobile App</li>
            <li>Omni Mobile App designed for Android API 21 and over</li>
            <li>Capture Customer Account Details</li>
            <li>Customer Enters Signature</li>
            <li>Agent uploads Demographic Info</li>
            <li>Agent Uploads Customer Signature, Proof of Residence and Copy of ID</li>
            <li>Send SMS to Customer with Account Number</li>
        </ol>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>