<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Omni Home</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row">
        <div class="col-sm-6">

            <div class="card" style="width: 20rem;">
                <img class="card-img-top" th:src="@{/photo(id=${customer.id})}"
                     title="Customer Photo" alt="Image"/>
                <div class="card-body">
                    <h4 class="card-title">
                        <span th:text="${{customer.firstName}}">First Name</span>
                        <span th:text="${{customer.surname}}">Last Name</span>
                    </h4>
                    <p>Account Number : <span th:text="${{customer.accountNumber}}">Account Number</span></p>
                    <a href="#" class="btn btn-primary" onclick="alert('SMS Sent')">Send SMS</a>
                </div>
            </div>
            <br/>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                    Detail
                </a>
                <a href="#" class="list-group-item list-group-item-action">ID Number:
                    <span th:text="${customer.idNumber}">ID Number</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Card Number:
                    <span th:text="${customer.accountNumber}">Card Number</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Phone Number:
                    <span th:text="${customer.phoneNumber}">Phone</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Email Address:
                    <span th:text="${customer.emailAddress}">Email</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Post Address:
                    <span th:text="${customer.address}">Address</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">Created On:
                    <span th:text="${#dates.format(c.dateCreated, 'dd-MM-yyyy HH:mm')}">Date</span>
                </a>
            </div>
        </div>
    </div>
    <br/>
    <h1>Supporting Documents Uploaded</h1>
    <br/><br/>
    <div class="row">
        <div class="col-sm">
            <div class="media">
                <img class="mr-3" th:src="@{/signature(id=${customer.id})}" alt="Generic placeholder image"
                     height="100"
                     width="100"/>
                <div class="media-body">
                    <h5 class="mt-0">Signature</h5>
                    Signature
                </div>
            </div>

        </div>
        <div class="col-sm">
            <div class="media">
                <img class="mr-3" th:src="@{/copyId(id=${customer.id})}" alt="Generic placeholder image"
                     height="100"
                     width="100"/>
                <div class="media-body">
                    <h5 class="mt-0">Signature</h5>
                    Signature
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="media">
                <img class="mr-3" th:src="@{/proof(id=${customer.id})}" alt="Generic placeholder image" height="100"
                     width="100"/>
                <div class="media-body">
                    <h5 class="mt-0">Signature</h5>
                    Signature
                </div>
            </div>
        </div>
    </div>
    <br/><br/>
</div>


<div th:replace="fragments/footer :: footer"/>

</body>
</html>