<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

       <link href="../static/css/omni.css"
          th:href="@{css/omni.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="lc-block">
    <h1>Welcome!</h1>
    <div class="alert-normal">
        <p>Click <a th:href="@{/hello}">here</a> to see a greeting.</p>
    </div>
</div>
</body>
</html>