<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <br/>
    <div class="card border-primary">
        <div class="card-header">
            Instructions On What to Do
        </div>
        <h3>Quick Summary</h3>
        <ol>
            <li>Add New Agent on the Omni Web App</li>
            <li>Use created Agent account details to login into the Omni Mobile App</li>
            <li>Omni Mobile App designed for Android API 21 and over</li>
            <li>Enter Customer Account Details</li>
            <li>Customer Enters Signature</li>
            <li>Agent uploads Account Information and Supporting Documents</li>
            <li>Login to the Omni Web App</li>
            <li>View Registered Customers</li>
            <li>View Customer Profile</li>
            <li>Supporting documents and Account information is displayed</li>
            <li>Send SMS to Customer with Account Number</li>
            <li>Visit Users to show how many customers have been registered and when they are</li>
            <li>For feedback email tdhlakama@gmail.com</li>
        </ol>
        <h3>For feedback email tdhlakama@gmail.com</h3>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>